body {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 100000;
}
header .navbar .container-fluid .collapse .dropdown-menu {
  background-color: black;
}
header .navbar .container-fluid .collapse .dropdown-menu .dropdown-item {
  column-rule: white;
}
header .navbar .container-fluid .collapse .dropdown-menu .dropdown-item:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
header .navbar .container-fluid .collapse ul li a {
  color: white;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  background-color: black;
}
main .banner {
  width: 100%;
  height: 100%;
  position: relative;
}
main .banner img {
  width: 100%;
  height: 683px;
  object-fit: cover;
}
main .banner h1 {
  position: absolute;
  top: 50%;
  left: 0%;
  color: white;
  font-size: 70px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
main .bagBlack {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .bagBlack .fon {
  background-color: black;
  width: 100%;
  height: 100%;
}
main .bagBlack .fon h1 {
  width: 100%;
  height: 70%;
  letter-spacing: 4px;
}
main .bagBlack .fon p {
  width: 100%;
  height: 30px;
  margin-top: -60px;
}
main .bagBlack .fon p a {
  color: white;
  text-decoration: none;
}
main .bagBlack .fon p a:hover {
  font-size: 20px;
  transition: ease 1s;
  color: rgb(108, 108, 108);
}
main .bagBlack .bag {
  width: 100%;
}
main .bagBlack .bag img {
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}
main .show {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main .show .pictures {
  width: 100%;
  position: relative;
}
main .show .pictures img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  box-sizing: border-box;
  display: block;
}
main .show .pictures .content {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0, 6s;
}
main .show .pictures .content:hover {
  opacity: 1;
}
main .show .pictures .content a {
  font-size: 40px;
  color: rgb(246, 246, 246);
  font-family: "Rubik Glitch Pop", system-ui;
  text-decoration: none;
  letter-spacing: 3px;
}
main .Bags {
  width: 100%;
  height: 100%;
  background-color: black;
  padding-bottom: 30px;
}
main .Bags h1 {
  font-weight: bold;
  padding-top: 10px;
}
main .Bags h4 {
  font-weight: 200;
}
main .Bags .forbags {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
main .Bags .forbags .baggs img {
  width: 350px;
  height: 100%;
  margin: auto;
  display: flex;
}
main .Bags .forbags .baggs .forcontent {
  width: 100%;
  height: 100%;
}
main .Bags .forbags .baggs .forcontent h2 {
  font-weight: 200;
}
main .Bags .forbags .baggs .forcontent h5 {
  text-decoration: line-through;
}
main .men {
  width: 100%;
  height: 100%;
}
main .men .bannerr {
  width: 100%;
  height: 100%;
  width: 100%;
  height: 650px;
  background-image: url("https://static.wixstatic.com/media/a9ff3b_1d1a03e206e948cf908a9f1274ee9df0.jpg/v1/fill/w_1470,h_957,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a9ff3b_1d1a03e206e948cf908a9f1274ee9df0.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-size: cover;
  background-attachment: fixed !important;
  position: relative;
}
main .contact {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 30px;
}
main .contact .forinput {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}
main .contact .forinput input {
  width: 300px;
  height: 50px;
  margin-left: auto;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-right: 50px;
  margin-top: 15px;
}
main .contact .forinput input:hover {
  border-bottom: 2px solid rgb(30, 0, 255);
}
main .contact .forinput textarea {
  width: 300px;
  height: 100px;
  text-align: start;
  margin-left: auto;
  outline: none;
  border-radius: 8px;
  border: none;
  margin-right: 50px;
  margin-top: 15px;
}
main .contact .forinput textarea:hover {
  border-bottom: 2px solid rgb(19, 101, 255);
}
main .contact .kontakt {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
main .contact .kontakt h1 {
  width: 80%;
  letter-spacing: 3px;
  margin-left: 20px;
  font-size: 50px;
  font-weight: bold;
}
main .contact .kontakt h5 {
  width: 100%;
  max-width: 350px;
  line-break: anywhere;
  font-size: 22px;
  line-height: 30px;
}
main .contact .kontakt h4 {
  padding-top: 20px;
  line-height: 15px;
}
main .onlyemail {
  width: 100%;
  padding-top: 50px;
  background-color: rgb(16, 16, 16);
}
main .onlyemail h1 {
  width: 100%;
  letter-spacing: 10px;
}
main .onlyemail .signature {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 30px;
  padding-top: 30px;
}
main .onlyemail .signature input {
  width: 100%;
  max-width: 600px;
  height: 50px;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 8px;
}
main .onlyemail .signature button {
  width: 100%;
  max-width: 600px;
  height: 50px;
  margin: auto;
  border-radius: 8px;
  margin-top: 20px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(82, 81, 81);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
footer .chat {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 15px;
}
footer .chat i {
  font-size: 30px;
  cursor: pointer;
}
footer .socials {
  width: 70px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 0px;
  right: 0px;
  top: 410px;
}
footer .socials i {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.smolll {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Barlow Semi Condensed", sans-serif;
  padding-top: 50px;
}
.smolll .Bags {
  width: 100%;
  height: 100%;
}
.smolll .Bags .forbags {
  width: 60%;
  height: 100%;
  margin: auto;
  display: grid;
  padding-top: 20px;
}
.smolll .Bags .forbags .baggs {
  position: relative;
}
.smolll .Bags .forbags .baggs img {
  width: 350px;
  height: 100%;
  margin: auto;
  display: flex;
}
.smolll .Bags .forbags .forcontent {
  width: 100%;
  height: 100%;
}
.smolll .Bags .forbags .forcontent h2 {
  font-weight: 200;
}
.smolll .Bags .forbags .forcontent h5 {
  text-decoration: line-through;
}

/*# sourceMappingURL=style.css.map */
